COMPOSE_PROJECT_NAME=faceit_elo

MYSQL_HOST=your_value_here
MYSQL_PORT=3306
MYSQL_USER=your_value_here
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=your_value_here

API_ADMIN_KEY=your_token_here
TG_TOKEN=your_token_here
FACEIT_TOKEN=your_token_here