body {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.4;
  background-color: #0d0d0d;
  color: white;
}

pre {
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
  line-height: 0.8;
}

h2 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 6px;
}

p,
form {
  margin-bottom: 4px;
}

button {
  font-size: 11px;
}

th,
td {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

pre {
  background: rgba(0, 0, 0, 0.5); /* лёгкий фон */
  color: #eaeaea; /* светлый текст */
  font-family: monospace;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  max-height: 70vh;
  white-space: pre-wrap;
}

table {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-collapse: collapse;
}

button, input[type="submit"] {
  background: #222;
  color: white;
  border: 1px solid #555;
  padding: 6px 12px;
  border-radius: 4px;
}

button:hover {
  background: #444;
}

a {
  color: #79b8ff; /* обычная светло-синяя */
  text-decoration: underline;
}

a:visited {
  color: #c58aff; /* светло-фиолетовая */
}

select {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

select option {
  background-color: #1a1a1a;
  color: white;
}