/* Null. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color);
}

html {
  display: block;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--color);
  font-size: var(--body);
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  font-family: 'Lilita One', cursive;
  /*background-color: var(--bg);*/
  background-color: transparent !important;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input,
button,
textarea {
  display: block;
  font-family: var(--family);
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  appearance: none;
  outline: none;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color);
  font-family: var(--family);
}

/* Null. */

#widget {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99999999;
}

.widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);
  z-index: -1;
}

.widget-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 12px;
  color: #fff;
}

#totalelo {
  font-size: 48px;
  filter: drop-shadow(0 0 60px #ffffff52);
}

#amount {
  font-weight: 600;
  font-size: 28px;

  animation: amount .5s var(--start) linear both;
  filter: drop-shadow(0 0 32px #67FB30);
}

#amount.red {
  color: #FE1F00;
  filter: drop-shadow(0 0 32px #FE1F00);
}

#amount.green {
  color: #67FB30;
}

@keyframes amount {
  to {
    opacity: 0;

    transform: translateY(-50px);
  }
}


#level {
  --size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: var(--size);
  height: var(--size);
  color: var(--color);
  font-size: 44px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #1A1A1C;
  border: 10px solid transparent;
/*  opacity: 0;*/

  transition: opacity .83s;
  z-index: 1;
}

#level.active {
  opacity: 1;
}

#level {
  --b: 22px;
  --c: var(--color);
}

#level:before,
#level:after {
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius:50%;
}

#level:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));

  transform: rotate(250grad);
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

#level.anim {
  animation: p 1s .23s both;
}

@keyframes p {
  from{--p:0}
}

#level.active {
  animation: active 1s both;
}

@keyframes active {
  to{
    --p: var(--a)
  }
}

#level:after {
  border: var(--b) solid #232324;
  z-index: -1;
}

#level:before {
  background-size:0 0,auto;
}